@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=EB+Garamond&display=swap');

.Cartitems_component1{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid rgba(201, 195, 195, 0.658);
}

.Cartitems_component1_row1{
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(201, 195, 195, 0.658);
    
}

.Cartitems_component1_row1 label{
    color: gray;
    font-family: 'Comic Neue', cursive;;
    font-size: 17px; 
    
}
.Cartitems_component1_row1 .label1{
    padding-left: 30px;
    width: 30%;
    
}
.Cartitems_component1_row1 .label2{
    width: 50%;
    
    
    
}

.Cartitems_component1_row2{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 50px;
    
}

.Cartitems_component1_row2_img img{
    width: 70%;
    height: 14vh;
    border-radius: 50px;
    border: 1px solid rgb(0, 225, 255);

}

.Cartitems_component1_row2_details{
    display: flex;
    flex-direction: column;
    
    width: 18%;
}

.Cartitems_component1_row3_details{
    display: flex;
    flex-direction: column;
    
    padding-right: 60px;
}

.Cartitems_component1_row2_details label, .row3_details label{
    font-weight: bold;
    padding-bottom: 2px;
}

.Cartitems_component1_row2_numbers{
    display: flex;
    flex-direction: row;
    width: 52%;
    
    
}

.Cartitems_component1_row2_numbers label{
    height: 2vh;
    padding: 18px;
    background-color: rgb(0, 162, 255);
    margin-right: 5px;
    border-radius: 12px;
    font-family:'Comic Neue', cursive;;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    
    
}

.Cartitems_component1_row2_pricebuttons{
    
    display: flex;
    flex-direction: row;
    padding-right: 20px;

}

.Cartitems_component1_row2_pricebuttons label{
    width: 100%;
    
    padding-right: 20px;
    font-weight: bold;
    font-family: 'Comic Neue', cursive;;
}

.Cartitems_component1_row2_pricebuttons button{
    height: 20px;
    border: none;
    width: 20%;
    font-weight: bold;
    margin-right: 10px;
}

.Cartitems_component1_row2_pricebuttons img{
    height: 20px;
}

.Cartitems_component1_row3{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding-left: 164px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(201, 195, 195, 0.658);
}

.Cartitems_component1_row3_numbers{
    display: flex;
    flex-direction: row;
    
    padding-right: 350px;
    
    
}

.Cartitems_component1_row3_numbers label{
    height: 2vh;
    padding: 17px;
    background-color: rgb(4, 0, 255);
    margin-right: 5px;
    border-radius: 10px;
    font-family:'Comic Neue', cursive;;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    
}

.Cartitems_component1_row3_pricebuttons label{
    width: 100%;
    
    padding-right: 30px;
    font-weight: bold;
    font-family: 'Comic Neue', cursive;;
}

.Cartitems_component1_row3_pricebuttons img{
    height: 20px;
}