.Checkouttotal_component2{
    
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
    
}

.Checkouttotal_component2_row{
    
    display: flex;
    flex-direction: row;
    padding-top: 15px;  
     
    height: 20vh;
}

.Checkouttotal_component2_row_col1{
    
    width: 50%;
    height: 45vh;
    padding-left: 50px;
    
    
}

.Checkouttotal_component2_row_col1 .label1{
    color: rgb(143, 142, 142);
}

.Checkouttotal_component2_row_col1 .label2{
    color:mediumblue;
}

.Checkouttotal_col1_line{
    padding-bottom: 10px;
}

.Checkouttotal_component2_row_col2{
    display: flex;
    flex-direction: column;
    
    justify-content: right;
   
    width: 50%;
}

.Checkouttotal_component2_row_col2 .label1{
    padding-right: 5px;
    
}

.Checkouttotal_component2_row_col2 .label3{
    padding-right: 5px;
    color: rgb(65, 115, 253);
    font-weight: bold;
}

.Checkouttotal_component2_row_col2 .label2{
    font-weight: bold;
    font-family: 'Comic Neue', cursive;; 
}

.Checkouttotal_component2_row_col2 button{
    color: rgba(128, 128, 128, 0.534);
    border: 1px solid rgba(128, 128, 128, 0.459);
    padding: 10px;
    border-radius: 5px;
}

.Checkouttotal_col2_line{
    
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
}

.Checkouttotal_col2_line1{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
}
