.Editheader{
    width: 50%;
    display: flex;
    padding: 5px;
}
.Editheader_raw{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.Editheader_raw_btn{
    width: 30%;
    display: flex;
    justify-content: center;
  
}
.Editheader_raw_btn button{
    padding: 15px;
    background-color: rgba(165, 165, 165, 0.207);
    border: none;
    border-style: none;
    width: 100%;
    
}
button:hover{
    background-color: rgb(196, 86, 86);
    color: #fff;
}