.login_outer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .login_header {
    width: 100%;
  }
  
  .login_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login_row3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
  }
  /* .login_new{
      width: 20%;
      display: flex;
      justify-content: right;
      
  } */
  .login_new {
    width: 60%;
    display: flex;
    justify-content: right;
    text-align: right;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
  }
  /* .login_join{
      width: 20%;
      display: flex;
      padding-right: 10px;
     
  } */
  .login_join {
    width: 60%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: #0a66c2;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding-left: 10px;
  }
  
  .login_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .login_footer11 {
    width: 15%;
    font-family: "Inter", sans-serif;
    font-size: clamp(0.5rem, 2vw, 1rem);
  }
  
  .login_footer11 button {
    border: none;
    background-color: none;
  }
  
  .login_footer11 select {
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: clamp(0.5rem, 2vw, 1rem);
  }
  
  /* -----------form------------ */
  .login_cont_form {
    width: 40%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgb(190, 190, 190);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .login_inner_form {
    width: 100%;
    display: flex;
    /* justify-content: left;
      align-items: left; */
    flex-direction: column;
  }
  .login_form_row1 {
    display: flex;
  }
  
  .login_form_row1 label {
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  
  .login_form_row2 {
    display: flex;
  }
  
  .login_form_row2 label {
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
  }
  
  .login_form_input {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .login_form_input input {
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  
  .login_form_row5 {
    display: flex;
  }
  
  .login_form_row5 label {
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: #0a66c2;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  
  .login_form_row6 {
    width: 100%;
    display: flex;
  }
  
  .login_form_row6 button {
    width: 100%;
    color: white;
    background-color: #0a66c2;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  
  .login_form_row7 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .login_form_row7_col {
    width: 30%;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
  
  .login_form_row7_col2 {
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  .login_form_row8 {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  .login_form_row8 button {
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 5px;
    margin-left: 10px;
  }
  /* --------------end form-------------- */
  
  .login_outer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login_header {
    width: 100%;
  }
  
  .login_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login_row3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
  }
  /* .login_new{
      width: 20%;
      display: flex;
      justify-content: right;
      
  } */
  .login_new {
    width: 60%;
    display: flex;
    justify-content: right;
    text-align: right;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
  }
  /* .login_join{
      width: 20%;
      display: flex;
      padding-right: 10px;
     
  } */
  .login_join {
    width: 60%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: #0a66c2;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding-left: 10px;
  }
  
  .login_footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .login_footer11 {
    margin: 10px;
    width: 10%;
  }
  
  .login_footer11 button {
    border: none;
    background-color: none;
  }
  
  .login_footer11 select {
  }
  
  /* -----------form------------ */
  .login_cont_form {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgb(190, 190, 190);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .login_inner_form {
    width: 100%;
    display: flex;
    /* justify-content: left;
      align-items: left; */
    flex-direction: column;
  }
  .login_form_row1 {
    display: flex;
  }
  
  .login_form_row1 label {
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  
  .login_form_row2 {
    display: flex;
  }
  
  .login_form_row2 label {
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
  }
  
  .login_form_input {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .login_form_input input {
    width: 100%;
    border: 0.5px grey solid;
    box-shadow: 0px 0px 1px 1px rgb(190, 190, 190);
    outline: none;
    display: flex;
    justify-content: left;
    text-align: left;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  
  .login_form_row5 {
    display: flex;
  }
  
  .login_form_row5 label {
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    color: #0a66c2;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  
  .login_form_row6 {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  
  .login_form_row6 button {
    width: 100%;
    color: white;
    background-color: #0a66c2;
    box-shadow: 2px 2px 2px -1px #0a66c2;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  
  .login_form_row7 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .login_form_row7_col {
    width: 30%;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
  
  .login_form_row7_col2 {
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  .login_form_row8 {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  .login_form_row8 button {
    width: 100%;
    color: black;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px -1px gray;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
  }
  /* --------------end form-------------- */
  .login_errmsg
  {
    color:red;
  }