.ticketselector_outer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ticketselector_line
{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ticketselector_chkoutbtn{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    /* background-color: aquamarine; */
    /* margin-top: 50px; */
    margin-bottom: 30px;

}